################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FluentNzxt/bin/x86/Debug/net5.0-windows10.0.19041.0
FluentNzxt (Package)/bin/
FluentNzxt (Package)/obj/
FluentNzxt/obj/
NzxtLib/bin/
NzxtLib/obj/
RBGLib/bin/
RBGLib/obj/
.vs/
FluentNzxt/bin/
